@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .isOpen {
    width: 80%;
    height: 100vh;
    display: flex;
    position: relative;
  }

  .isClose {
    display: none;
  }
}
