@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .isOpen {
    width: 80%;
    height: 100vh;
    display: flex;
    position: relative;
  }

  .isClose {
    display: none;
  }

  .fechaMenu {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1;
  }
}
